<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

  <main>

    <div class="messages">

      <% if (messages.length > 0) { %>
        <% messages.forEach(message => { %>

          <div class="post">
            <h2 class="user"> <%= message.user %> </h2>
            <p class="added"> <%= message.added %> </p>
            <p class="text"> <%= message.text %> </p>
          </div>

        <% }) %>
      <% } else { %>
        <h2 class="empty">There are no messages to display</h2>
      <% } %> 

    </div>
    
  </main>

</body>
</html>